@import url('http://fonts.cdnfonts.com/css/bahnschrift');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bahnschrift', sans-serif;
                                              
}